<!-- Navbar when no user is logged in -->
<div *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
  <div class="main-header flex">
    <div class="logo">
      <a class="brand" routerLink="/Login">Quiz App</a>
    </div>
    <div class="nav-links">
      <a routerLink="/register" routerLinkActive="active">Sign Up</a>
      <a routerLink="/Login" routerLinkActive="active">Login</a>
    </div>
  </div>
</div>

<!-- Navbar for admin -->
<div *ngIf="isAdminLoggedIn">
  <div class="main-header flex">
    <div class="logo">
      <a class="brand" routerLink="/admin/dashboard">Quiz App</a>
    </div>
    <div class="nav-links">
      <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="admin/create-task" routerLinkActive="active">Create Test</a>
      <a routerLink="/admin/view-results" routerLinkActive="active">View Results</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</div>

<!-- Navbar for user -->
<div *ngIf="isUserLoggedIn">
  <div class="main-header flex">
    <div class="logo">
      <a class="brand" routerLink="/user/dashboard">Quiz App</a>
    </div>
    <div class="nav-links">
      <a routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/user/view-results" routerLinkActive="active">View Results</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
</div>

<!-- Router outlet for loading components -->
<router-outlet></router-outlet>
